<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>menu1</string>
	<string>menu2</string>
	<string>menu3</string>
	<string>menu4</string>
	<string>menu5</string>
	<string>menu6</string>
	<string>menu7</string>
	<string>menu8</string>
	<string>menu9</string>
	<string>menu10</string>
	<string>menu11</string>
	<string>menu12</string>
	<string>menu13</string>
	<string>menu14</string>
	<string>menu15</string>
	<string>menu16</string>
	<string>menu17</string>
	<string>menu18</string>
	<string>menu19</string>
	<string>menu20</string>
	<string>menu21</string>
	<string>menu22</string>
	<string>menu23</string>
	<string>menu24</string>
	<string>menu25</string>
	<string>menu27</string>
	<string>menu28</string>
	<string>menu29</string>
</array>
</plist>
